{{ form_start(commentForm) }}
<div>
{{ form_row(commentForm.text, { 'label': 'Write your comment here' }) }}
{{ form_row(commentForm.Newcomment, { 'label': 'Comment' }) }}
</div>
{{ form_end(commentForm) }}
